@import "./fonts";
@import "./variables";


.header-background {
  background: linear-gradient(to bottom right, #5B483A, 30%, #1b1a1a);
}

.header {
  padding-top: 60px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.navbar__list {
  display: flex;
  flex-direction: row;
}

.logo__name {
  margin-bottom: 10px;
  color: #F1CDB3;
}

.navbar__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}



.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .main__slogan {
    margin-bottom: 5vh;
    margin-right: 3vw;

    .slogan__title {
      // width: 25vw;
      margin-bottom: 40px;
      color: #FFFFFF;
    }
  }
}

.text.slogan__text {
  margin-bottom: 40px;
  color: #CDCDCD;
}

.main__wrapper-img {
  height: 708px;
  display: flex;
}

// about
.section__about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

.about__slogan {
  margin-left: 7vw;
  width: 35%;
}

.about__title {
  width: 70%;
  color: #545454;
}

.about__text {
  margin-top: 25px;
  margin-bottom: 25px;
}

// pets

.gallary__wrapper_pMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 512px;
  position: relative;
}

.gallary__items_pMain {
  // количество рядов (их 1)
  width: 1080px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card_pMain {
  margin-right: 45px;
  margin-left: 45px;
}



.wrapper__btn-circle {
  position: absolute;
}

.wrapper__btn-circle-left {
  left: -5%;
  bottom: 50%;
  transform: translate(50%, 0);
}

.wrapper__btn-circle-right {
  right: -5%;
  bottom: 50%;
  transform: translate(-50%, 0);
}

.section__pets {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  position: relative;

  .pets__title {
    text-align: center;
    margin-bottom: 60px;
    color: #545454;
  }
}

// help
.section__help {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__title {
  text-align: center;
  width: 35%;
  margin-top: 80px;
  margin-bottom: 60px;
  color: #545454;
}

.gallary__help {
  margin-bottom: 10vw;
  margin-right: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 60vw;
  width: 100%;

  .icon__block {
    margin-top: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon__subtitle {
    margin-top: 30px;
    color: #545454;
  }
}



// donation
.section__donation {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;

  .donation__block {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }
}

.donation__title {
  max-width: 300px;
  width: 100%;
  color: #545454;
}

.donation__label {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pay-card {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;

  .pay-card__wrapper-img {
    display: flex;
  }

  .card__number {
    margin-left: 15px;

    a {
      color: #545454;
    }
  }
}

.donation__info {
  margin-top: 20px;
  max-width: 380px;
  width: 100%;
}

// footer
.footer__section {
  background: linear-gradient(to right, #5B483A, #211F20);

  .footer {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}

.footer__column {
  margin-top: 56px;
  width: 30%;
  max-width: 100%;

  &:last-child {
    display: flex;
    align-self: flex-end;
  }

  &:nth-child(2) {
    margin-left: 3%;
    margin-right: 5%;
  }

  .footer__title {
    color: #ffffff;
  }
}

.footer-svg__block {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .footer-svg__subtitle {
    width: 18vw;
    margin-left: 1vw;
    color: #F1CDB3;

    .footer-svg__link {
      color: #F1CDB3;
    }
  }
}

@media screen and (max-width: 992px) {
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header {
    padding-top: 30px;
  }

  .navbar__item {
    margin-right: 25px;
  }

  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main__slogan {
      width: 60vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .slogan__title {
        width: 60%;
      }
    }

    .btn__form {
      display: flex;
      align-self: center;
    }
  }

  .main__wrapper-img {
    height: auto;

    .main__img {
      width: 70vw;
      height: auto;
      object-fit: contain;
    }
  }

  // about
  .section__about {
    flex-direction: column-reverse;

    .about__slogan {
      width: 55vw;

      .about__title {
        width: 50vw;

      }
    }
  }

  .about__wrapper-img {
    margin-top: 60px;
    margin-bottom: 10px;
  }

  .card_pMain {
    margin-right: 20px;
    margin-left: 20px;
  }

  .gallary__wrapper_pMain {
    width: 708px;
  }

  .gallary__items_pMain {
    width: 620px;
  }

  .gallary__help {
    max-width: 80vw;
    width: 100%;

    .icon__block {
      width: 200px;
    }
  }

  .help__title {
    width: 50%;
  }
  
  // donation
  .section__donation {
    flex-direction: column-reverse;
    .donation__block {
      margin-bottom: 60px;
    }
  }
  .footer__section .footer {
    flex-direction: row;
    flex-wrap: wrap;
    .footer__column {
      flex-basis: 40%;
      margin-left: 0;
      margin-right: 0;
    }
    .footer__column:first-child {
      margin-right: 5vw;
    }
    .footer__column:last-child {
      flex-basis: 50%;
    }
  }
  .footer-svg__block {
    margin-bottom: 30px;
    .footer-svg__subtitle {
      width: 38vw;
    }
  }

}
