@import "./fonts";
@import "./variables";


.header-background {
  background: linear-gradient(to bottom right, #5B483A, 30%, #1b1a1a);
}

.header {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.navbar__list {
  display: flex;
  flex-direction: row;
}

.logo__name {
  margin-bottom: 10px;
  color: #F1CDB3;
}

.navbar__link {
  margin-right: 35px;
}


.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .main__slogan {
    margin-bottom: 5vh;
    margin-right: 3vw;

    .slogan__title {
      // width: 25vw;
      margin-bottom: 40px;
      color: #FFFFFF;
    }
  }
}

.text.slogan__text {
  margin-bottom: 40px;
  color: #CDCDCD;
}

.main__img {
  height: 708px;
  display: flex;
}

// about
.section__about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

.about__slogan {
  margin-left: 7vw;
  width: 35%;
}

.about__title {
  width: 20vw;
  color: #545454;
}

.about__text {
  margin-top: 25px;
  margin-bottom: 25px;
}

// pets

.gallary__wrapper_pMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 512px;
  position: relative;

  .gallary__items_pMain {
    // количество рядов (их 1)
    // height: 950px;
    width: 1080px;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .card_pMain {
      margin-right: 45px;
      margin-left: 45px;
    }
  }
}

.wrapper__btn-circle {
  position: absolute;
}

.wrapper__btn-circle-left {
  left: -5%;
  bottom: 50%;
  transform: translate(50%, 0);
}

.wrapper__btn-circle-right {
  right: -5%;
  bottom: 50%;
  transform: translate(-50%, 0);
}

.section__pets {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  position: relative;

  .pets__title {
    text-align: center;
    margin-bottom: 60px;
    color: #545454;
  }
}

// help
.section__help {
  display: flex;
  flex-direction: column;
  align-items: center;

  .help__title {
    text-align: center;
    width: 35%;
    margin-top: 80px;
    margin-bottom: 60px;
    color: #545454;
  }
}

.gallary__help {
  margin-bottom: 10vw;
  margin-right: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 60vw;
  width: 100%;

  .icon__block {
    margin-top: 50px;
    margin-right: 2.3vw;
    margin-left: 2.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon__subtitle {
    margin-top: 30px;
    color: #545454;
  }
}

// donation
.section__donation {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;

  .donation__block {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }
}

.donation__title {
  max-width: 300px;
  width: 100%;
  color: #545454;
}

.donation__label {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pay-card {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;

  .pay-card__wrapper-img {
    display: flex;
  }

  .card__number {
    margin-left: 15px;

    a {
      color: #545454;
    }
  }
}

.donation__info {
  margin-top: 20px;
  max-width: 380px;
  width: 100%;
}

// footer
.footer__section {
  background: linear-gradient(to right, #5B483A, #211F20);

  .footer {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}

.footer__column {
  margin-top: 56px;
  width: 30%;
  max-width: 100%;

  &:last-child {
    display: flex;
    align-self: flex-end;
  }

  &:nth-child(2) {
    margin-left: 3%;
    margin-right: 5%;
  }

  .footer__title {
    color: #ffffff;
  }
}

.footer-svg__block {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .footer-svg__subtitle {
    width: 18vw;
    margin-left: 1vw;
    color: #F1CDB3;

    .footer-svg__link {
      color: #F1CDB3;
    }
  }
}