// fonts
@font-face {
  font-family: "Arial";
  src: url("../../fonts/Arial.ttf") format("truetype");
}

@font-face {
  font-family: "Georgia";
  src: url("../../fonts/Georgia.ttf") format("truetype");
}

// card styles
@mixin CardStyle() {
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

// flex
@mixin FlexRow() {
    display: flex;
    flex-direction: row;
}

@mixin FlexCol() {
    display: flex;
    flex-direction: column;
}
