*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;

}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}


button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  scroll-behavior: smooth;
  font: inherit;
}

.section {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
  scroll-behavior: smooth;

}