@import "./fonts";
@import "./variables";

.header_pets {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.section__gallary {
    background-color: #F6F6F6;
    padding-right: 20px;
    padding-left: 20px;

    .gallary__title {
        padding-top: 6vh;
        padding-bottom: 3vh;
        text-align: center;
        color: #545454;
    }    
}

.gallary__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1112px;

    .gallary__items {
        // количество рядов (их 2)
        height: 950px;
        width: 1240px;
        overflow-y: hidden;
        overflow-x: hidden;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
    }
}

.card__pPets {
    margin: 20px;
}

@media screen and (max-width: 992px){
  .gallary__wrapper .gallary__items {
    width: 620px;
  }
    
}

