@import "./fonts";

@import "./layout";

// header
.header-background {
  background: linear-gradient(to bottom right, #5B483A, 30%, #1b1a1a);
}

.logo__name {
  margin-bottom: 10px;
  color: #F1CDB3;
}


// burger
.burger__stick_pMain {
  background-color: #F1CDB3;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .main__slogan {
    margin-bottom: 5vh;
    margin-right: 3vw;

    .slogan__title {
      // width: 25vw;
      margin-bottom: 40px;
      color: #FFFFFF;
    }
  }
}

.text.slogan__text {
  margin-bottom: 40px;
  color: #CDCDCD;
}

.main__wrapper-img {
  height: 708px;
  display: flex;
}

// about
.section__about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

.about__slogan {
  margin-left: 7vw;
  width: 35%;
}

.about__title {
  width: 70%;
  color: #545454;
}

.about__text {
  margin-top: 25px;
  margin-bottom: 25px;
}

// pets


.gallary__items_pMain {
  // количество рядов (их 1)
  height: 470px;
  width: 1080px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.card.card_pMain {
  margin: 0;
  margin-right: 45px;
  margin-left: 45px;
}

.wrapper__btn-circle {
  position: absolute;
}

.wrapper__btn-circle-left {
  left: 0;
  bottom: 50%;
  transform: translate(50%, 0);
}

.wrapper__btn-circle-right {
  right: 0;
  bottom: 50%;
  transform: translate(-50%, 0);
}

.section__pets {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  position: relative;

  .pets__title {
    text-align: center;
    margin-bottom: 60px;
    color: #545454;
  }
}

// help
.section__help {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__title {
  text-align: center;
  width: 35%;
  margin-top: 80px;
  margin-bottom: 60px;
  color: #545454;
}

.gallary__help {
  margin-bottom: 10vw;
  margin-right: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 60vw;
  width: 100%;

  .icon__block {
    margin-top: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon__subtitle {
    margin-top: 30px;
    color: #545454;
  }
}



// donation
.section__donation {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;

  .donation__block {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }
}

.donation__title {
  max-width: 300px;
  width: 100%;
  color: #545454;
}

.donation__label {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pay-card {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;

  .pay-card__wrapper-img {
    display: flex;
  }

  .card__number {
    margin-left: 15px;

    a {
      color: #545454;
    }
  }
}

.donation__info {
  margin-top: 20px;
  max-width: 380px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header {
    padding-top: 30px;
  }

  .logo__name {
    margin-bottom: 0;
  }

  .navbar__item {
    margin-right: 25px;
  }

  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main__slogan {
      width: 60vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .slogan__title {
        width: 60%;
      }
    }

    .btn__form {
      display: flex;
      align-self: center;
    }
  }

  .main__wrapper-img {
    margin-left: auto;
    height: auto;

    .main__img {
      width: 70vw;
      height: auto;
      object-fit: contain;
    }
  }

  // about
  .section__about {
    flex-direction: column-reverse;

    .about__slogan {
      width: 55vw;

      .about__title {
        width: 50vw;

      }
    }
  }

  .about__wrapper-img {
    margin-top: 60px;
    margin-bottom: 10px;
  }

  .card_pMain {
    margin-right: 20px;
    margin-left: 20px;
  }

  .gallary__items_pMain {
    width: 620px;
  }

  .gallary__help {
    max-width: 80vw;
    width: 100%;

    .icon__block {
      width: 200px;
    }
  }

  .help__title {
    width: 50%;
  }

  // donation
  .section__donation {
    flex-direction: column-reverse;

    .donation__block {
      margin: 0;
      margin-bottom: 60px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .card.card_pMain {
    margin-right: 4vw;
    margin-left: 4vw;
  }
  
}
@media screen and (max-width: 768px) {
  .main .main__slogan {
    margin-right: 0;
    width: 90vw;
    align-items: center;
    justify-content: center;
    text-align: center;

    .slogan__title {
      width: 90%;
    }
  }

  .section__about {
    margin-top: 40px;
    width: 90vw;
    text-align: center;
    margin: 42px auto;

    .about__slogan {
      margin-left: 0;
    }

    .about__slogan {
      width: 100%;

      .about__title {
        margin: 0 auto;
        width: 90%;
      }
    }

  }

  .about__wrapper-img {
    margin: 0;

    .about__img {
      width: 260px;
    }
  }

  .section__pets .pets__title {
    margin-bottom: 0;
  }

  .gallary__items_pMain {
    width: 300px;
  }

  .wrapper__btn-circle {
    margin: 10px;
  }

  .wrapper__btn-circle-left {
    bottom: 0;
    left: 50px;
    transform: translate(50%, 0);

  }

  .wrapper__btn-circle-right {
    bottom: 0;
    right: 50px;
    transform: translate(-50%, 0);

  }
}

@media screen and (max-width: 576px) {
  .gallary__wrapper_pMain {
    width: 300px;
  }

  .help__title {
    margin-top: 42px;
    margin-bottom: 0;
    width: 80%;
  }

  .gallary__help .icon__block {
    width: 130px;
  }

  .donation__block {
    text-align: center;
  }

  .donation__label {
    letter-spacing: 0.2px;
  }

  .donation__img_img {
    width: 300px;
  }
}

@import "./components";